@media screen and (max-width: 768px) {
  .gallery-showcase li {
    width: 50%;
  }

  .about__square {
    text-align: center;
    gap: 20px;
  }
  .about--left {
    grid-area: 1;
  }

  .nav__right {
    display: none;
  }
  .responsive {
    display: grid;
    position: absolute;
    width: 80%;
    top: 8rem;
    left: 10%;
    background-color: white;
    padding: 2rem;
    text-align: center;
  }

  .responsive a {
    color: var(--Grayish-blue);
  }

  .responsive::before {
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    border-bottom: 25px solid white;
    border-left: 25px solid transparent;
  }
  .nav .burger {
    display: block;
  }

  .responsive .burger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive li {
    float: none;
    display: block !important;
  }

  .nav__button {
    background-color: var(--Yellow);
  }
}

/* .mobile ul {
  display: none;
}

.active ul {
  display: grid;
  position: absolute;
  top: 100%;
  left: 10%;
  padding: 2rem;
  background-color: white;
  width: 80%;
  justify-items: center;
}

.active li a {
  color: var(--Grayish-blue);
  margin-bottom: 10px;
}

.active .nav__button {
  background-color: var(--Yellow);
  width: 50%;
} */
